doctype html
html(ng-app='quickbot')
    head
        title QuickBot Motors
        meta(charset='utf-8')
        base(href='/')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-touch.min.js')
        //script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js")

        script(src='js/app.js')
        script(src='js/services.js')
        script(src='js/controllers.js')

    body
        div(ng-controller='MotorsCtrl')
            button.btn.btn-default(ng-click='run(torqueLeft, torqueRight)') Run
            input(ng-model='torqueLeft')
            input(ng-model='torqueRight')
